extends layout

block body

	#about
		<center><t3>What is<pp><pplogo><a href="/secret"><img src="/images/pplogo.png" alt="Pineapple Programs" width=30px></a></pplogo>Pineapple</pp>&nbsp Programs?</t3></center>
		<center><div id="box1Text" class = "boxText" data-boxid='box1' data-imageid='objective'>Objective</div></center>
		<center><div id="objective"><img src="/images/objective.png" height="150px"></div></center>
		#box1
			p  Our goal is to satisfy our customers with our best capabilities with whatever needs they have. Delivering simple, yet dynamic and beautiful sites is currently what we are thriving to achieve. 
		<center><div id="box2Text" class = "boxText" data-boxid='box2' data-imageid='capabilities'>Capabilities</div></center>
		<center><div id="capabilities"><img src="/images/capabilities.png" height="150px"></div></center>
		#box2
			p  Pineapple Programs' capabilities are forever growing, as we are always learning new and more efficient ways to deliver effective software. As of now, our team is capable of creating interactive, dynamic websites which can save data.
	#members
		<center><t4>Members</t4></center>

		<center><ul>
		li
			<a href='/michelma'><t5>MICHEL MA<br><d1>Co-Founder</d1></t5></a>
		li
			<a href='/silanhe'><t5>SILAN HE<br><d1>Co-Founder</d1></t5></a>
		li
			<a href='/edwardson'><t5>EDWARD SON<br><d1>Co-Founder</d1></t5></a>
		li
			<a href='/robertriachi'><t5>ROBERT RIACHI<br><d1>Co-Founder</d1></t5></a>

		</ul></center>
	#requests
		<center><div id="reqTitle">Requests</div></center>
		#reqDesc
			<center><t7>Pineapple Programs is willing to create any website you would like for FREE for a limited time. Not only is this service free, but there is no limitation to the request, as we are open to attempt anything, no matter the challenge.<t7></center> 
		<center><div id="circleText">Request a website now!</div></center>
		<ul class="circles">
		<li class="circle1"><center><a href='/requests'>Personal</a></center></li>
		<li class="circle2"><center><a href='/requests'>Company</a></center></li>
		<li class="circle3"><center><a href='/requests'>Other</a></center></li>
		</ul>	
		#Rbox5
			<t8>Requesting a website is as easy as clicking a button. Simply enter the email you wish for us to contact you with, and describe what you would like for us to do for you.<br><br>Currently, you can choose between a personal website or a company website. However, we are open to any requests, and can assure you we are much more capable than just static websites.</t8>
	//scripts
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="/scripts/boxGrower.js"></script>
	<script src="/scripts/circleSpawner.js"></script> 



