extends layout

block body

	#about
		<center><t3>What is<pp><pplogo><a href="/secret"><img src="/images/pplogo.png" alt="Pineapple Programs" width=30px></a></pplogo>Pineapple</pp>&nbsp Programs?</t3></center>
		<center><div id="box1Text" class = "boxText" data-boxid='box1'>Objective</div></center>
		#box1
			p  Our goal is to satisfy our customers with our best capabilities with whatever needs they have. Delivering simple, yet dynamic and beautiful sites is currently what we are thriving to achieve. 
		<center><div id="box2Text" class = "boxText" data-boxid='box2'>Capabilities</div></center>
		#box2
			p  Pineapple Programs' capabilities are forever growing, as we are always learning new and more efficient ways to deliver effective software. As of now, our team is capable of creating interactive, dynamic websites which can save data.
	#members
		<center><t4>Members</t4></center>

		<center><ul>
		li
			<a href='/michelma'><t5>MICHEL MA<br><d1>Co-Founder</d1></t5></a>
		li
			<a href='/silanhe'><t5>SILAN HE<br><d1>Co-Founder</d1></t5></a>
		li
			<a href='/edwardson'><t5>EDWARD SON<br><d1>Co-Founder</d1></t5></a>
		li
			<a href='/andrewspineanu'><t5>ANDREW S<br><d1>Co-Founder</d1></t5></a>

		</ul></center>
	#requests
		<center><div id="circleText">Requests</div></center>
		<ul class="circles">
		<li class="circle1"></li>
		<li class="circle2"></li>
		<li class="circle3"></li>
		</ul>	
		#Rbox5
			p deucerz
	//scripts
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="/scripts/boxGrower.js"></script>
	<script src="/scripts/circleSpawner.js"></script> 



