extends layout

block body

	#layer0
	#about
		<center><t3>What is<pp><pplogo><a href="/secret"><img src="/images/pplogo.png" alt="Pineapple Programs" width=30px></a></pplogo>Pineapple</pp>&nbsp Programs?</t3></center>
		#box1
			p  We are Pineapple Programs.
			p  A company founded by passionate and resourceful programmers.
		#box2
			p  Pineapple Programs' goal is to deliver clean,
			p  efficient websites that suit your taste.
			p  Whether you want a personal website,
			p  or even an online store, we deliver.
			p  As a Montreal based company, diversity is our speciality.
			p  Do not hesitate to contact us by clicking on "Requests".
	#members
		<center><t4>Members</t4></center>

		<center><ul>
		li
			<a href='/michelma'><t5>MICHEL MA<br><d1>Co-Founder</d1></t5></a>
		li
			<a href='/silanhe'><t5>SILAN HE<br><d1>Co-Founder</d1></t5></a>
		li
			<a href='/edwardson'><t5>EDWARD SON<br><d1>Co-Founder</d1></t5></a>
		li
			<a href='/andrewspineanu'><t5>ANDREW S<br><d1>Co-Founder</d1></t5></a>

		</ul></center>
	#requests
		<center><t6>Requests</t6></center>
	//scripts
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src = "/scripts/parallax.js"></script>
	<script src = "/scripts/test1.js"></script>





