extends layout

block body
	script(type='text/javascript').
		function parallax(){
		var lay_0 = document.getElementById('layer0');
		lay_0.style.top = -(window.pageYOffset / 4) + 'px';
		}
		window.addEventListener("scroll", parallax, false);
	#layer0
	#about
		<center><t3>What is<pp><pplogo><a href="/secret"><img src="/images/pplogo.png" alt="Pineapple Programs" width=30px></a></pplogo>Pineapple</pp>&nbsp Programs?</t3></center>
		#box1
			p  Pineapple Programs' goal is to deliver clean,
			p  efficient websites that suit your taste.
			p  Whether you want a personal website,
			p  or even and online store, we deliver.
			p  As a Montreal based company, diversity is our speciality.
			p Do not hesitate to contact us by clicking on "Requests".
		#box2
			p silan est gay, comme andreiiiii
			p ils aiment les bites, ils sont des fifs
	#members
		<center><t4>Members</t4></center>

		<center><ul>
		li
			<a href='/'><t5>MICHEL MA<br><d1>Co-Founder</d1></t5></a>
		li
			<a href='/'><t5>SILAN HE<br><d1>Co-Founder</d1></t5></a>
		li
			<a href='/'><t5>ROBERT RIACHI<br><d1>Co-Founder</d1></t5></a>
		li
			<a href='/'><t5>EDWARD SON<br><d1>Co-Founder</d1></t5></a>

		</ul></center>
	#requests
		<center><t6>Requests</t6></center>






