extends layout

block body
	#about
		<center><t3>What is<pp><pplogo><img src="/images/pplogo.png" alt="Pineapple Programs" width=30px></pplogo>Pineapple</pp>&nbsp Programs?</t3></center>
		#box1
			p deuce
		#box2
			p silan est gay






