doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        //Robert's Great Bubbles
        <ul class="bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        </ul>




    header
        <h1><center><a href= "/"><img src="/images/pptitle2.png" alt="Pineapple Programs" width=120px></a></center></h1>
        #banner
            <ul>
            li
                p <center>Members</center>
                <ul>
                li
                    <center><a href='/'>Michel Ma</a></center>
                li
                    <center><a href='/'>Edward Son</a></center>
                li
                    <center><a href='/'>Silan He</a></center>
                li
                    <center><a href='/'>Robert Riachi</a></center>
                </ul>
            li
                p <center>Projects</center>
                <ul>
                li
                    <center><a href='/'>Uni Finder</a></center>
                li
                    <center><a href='/'>More To Come</a></center>
                </ul>
            li
                <reqbtn><a href="/requests"><center><t2>Requests</t2></center></a></reqbtn>
            </ul>

    block body
        #about






