doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			<h1><img src="/images/pptitle2.png" alt="Pineapple Programs" width=120px></h1>
			#banner
				<ul>
				li
					p Members
					<ul>
					li
						<a href='/'>Michel Ma</a>
					li
						<a href='/'>Edward Son</a>
					li
						<a href='/'>Silan He</a>
					li
						<a href='/'>Robert Riachi</a>
					</ul>
				li
					p Projects
					<ul>
					li
						<a href='/'>Michel Ma</a>
					li
						<a href='/'>Edward Son</a>
					li
						<a href='/'>Silan He</a>
					li
						<a href='/'>Robert Riachi</a>
					</ul>
				</ul>

		block content
