doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			<h1><img src="/images/pptitle2.png" alt="Pineapple Programs" width=120px></h1>

		block content
