doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			<h1><center><img src="/images/pptitle2.png" alt="Pineapple Programs" width=120px></center></h1>
			#banner
				<ul>
				li
					p <center>Members</center>
					<ul>
					li
						<center><a href='/'>Michel Ma</a></center>
					li
						<center><a href='/'>Edward Son</a></center>
					li
						<center><a href='/'>Silan He</a></center>
					li
						<center><a href='/'>Robert Riachi</a></center>
					</ul>
				li
					p <center>Projects</center>
					<ul>
					li
						<center><a href='/'>Uni Finder</a></center>
					li
						<center><a href='/'>More To Come</a></center>
					</ul>
				</ul>

		block content
