doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')




    div#header
        <div id = "h1"><center><a href= "/"><img src="/images/pptitle2.png" alt="Pineapple Programs" width=100px></a></center></div>
        #banner
            <ul>
            li
                p <center>Members</center>
                <ul>
                li
                    <center><a href='/michelma'>Michel Ma</a></center>
                li
                    <center><a href='/edwardson'>Edward Son</a></center>
                li
                    <center><a href='/silanhe'>Silan He</a></center>
                li
                    <center><a href='/robertriachi'>Robert Riachi</a></center>
                </ul>
            li
                p <center>Projects</center>
                <ul>
                li
                    <center><a href='/unifinder'>Uni Finder</a></center>
                li
                    <center><a href='/'>More To Come</a></center>
                </ul>
            li
                <reqbtn><a href="/requests"><center><t2>Requests</t2></center></a></reqbtn>
            </ul>
    <center><div id="bigLogo"><pptitle2><img src="/images/pptitle2.png" alt="Pineapple Programs" width=500px></pptitle2></div></center>
    //scripts
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src = "/scripts/barShrinkr.js"></script>

    block body



