extends layoutUni

block body
	#uni



		<center><t>Where Do I Apply?</t></center>
		<center> <a href="http://wherecaniapply.com/">Try Where Do I Apply?</a></center>
		<center><pic><img style="border: 3px solid white;padding: 3px;" src="/images/unifinderweb.png" alt="Where Do I Apply Website" width=100%></pic></center>
		<br>		
		<p style="border: 3px solid white;">Where Do I Apply? is a website developed for the sake of aiding students from Quebec with their University applications, by telling them where they can apply to with their current R-Score.</p>	
		<center><pic><img style="border: 3px solid white;padding: 3px;" src="/images/unifinderenter.png" alt="Where Do I Apply Website" width=100%></pic></center>
		<br>		
		<p style="border: 3px solid white;"> How it works: Quebec students only, (For Now) enter their current R-Scores, select the program which they wish to apply in, and receive the names, alongside with an accurate course description of the Universities which they are eligible to apply to.</p>
		

		

		<t2>This website is powered by:</t2>
		<ul>
		li
			<div class="logo" data-textid="nodejst" id="nodejs"><img src="/images/nodejs.png" height=50px></div><div id="nodejst">Nodejs is a javascript runtime build used to write the backend of the website.</div>

		li
			<div class="logo" data-textid="expresst"><img src="/images/express.png" height=50px></div><div id="expresst">Express is a simple framework which provides the basis of the website.</div>
		li
			<div class="logo" data-textid="javascriptt"><img src="/images/javascript.png" height=50px></div><div id="javascriptt">Javascript is the language used to write the backend of the website.</div>
		li
			<div class="logo" data-textid="htmlt"><img src="/images/html.png" height=50px></div><div id="htmlt">Html is the language used to write the frontend of the website.</div>
		li			
			<div class="logo" data-textid="mongodbt"><img src="/images/mongodb.png" height=50px></div><div id="mongodbt">Node Js is the framework used to build the site.</div>
		</ul>


	<center> <a href="http://wherecaniapply.com/">Try Where Do I Apply?</a><center>

	<script src = "/scripts/parallax.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="/scripts/logomover.js"></script>





		
			




	
