extends layout

block body
	script(type='text/javascript').
		function parallax(){
		var lay_0 = document.getElementById('layer0');
		lay_0.style.top = -(window.pageYOffset / 4) + 'px';
		}
		window.addEventListener("scroll", parallax, false);
	#layer0
	#uni
	
		<center><t3>Where Do I Apply?</t3><center>
		<center> <a href="http://wherecaniapply.com/">Try Where Do I Apply?</a><center>
		<center><pic><img style="background-color:lightgray;border: 3px solid white;padding: 3px;" src="/images/unifinderweb.png" alt="Where Do I Apply Website" width=700px></pic></center>
		<br>
		<br>
		<p style="background-color:lightgray;border: 3px solid white;padding: 10px;">Where Do I Apply? is a website developed for the sake of aiding students from Quebec with their University applications, by telling them where they can apply to with their current R-Score.</p>	
		<center><pic><img style="background-color:lightgray;border: 3px solid white;padding: 3px;" src="/images/unifinderenter.png" alt="Where Do I Apply Website" width=700px></pic></center>
		<br>
		<br>
		<p style="background-color:lightgray;border: 3px solid white;padding: 10px;"> How it works: Quebec students only, (For Now) enter their current R-Scores, select the program which they wish to apply in, and receive the names, alongside with an accurate course description of the Universities which they are eligible to apply to.</p>
		<center> <a href="http://wherecaniapply.com/">Try Where Do I Apply?</a><center>

		
		
			




	
