body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
header {
  padding: 0px;
  margin: 0px;
  display: block;
  height: 10%;
  width: 100%;
  background-color: #7ae6f2;
  background-image: url("/images/pineapplefield3.jpg");
  position: absolute;
}
header h1 {
  display: block;
  border-radius: 10px;
  background-color: #fff;
  width: 150px;
  height: 60px;
  margin-top: 0.4%;
  margin-left: 2%;
}
#banner {
  margin-left: 15%;
  padding: 0;
  margin-top: -5%;
  text-align: left;
}
#banner ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}
#banner ul li {
  width: 100px;
  padding: 0;
  margin: 0;
  color: #fff;
  display: inline-block;
  background-color: none;
  transition: all 0.7s ease;
}
#banner ul li a,
visited {
  line-height: 40px;
  color: #000;
  text-decoration: none;
}
#banner ul li:hover {
  background-color: #fff;
  color: #000;
}
#banner ul li:hover ul {
  display: block;
}
#banner ul ul {
  display: none;
  position: absolute;
}
#banner ul ul li {
  background-color: #fff;
  text-decoration: none;
  height: 40px;
  margin: 0;
  display: block;
}
#banner ul ul li:hover {
  background-color: #e5e4e2;
}
