paleblue=#7AE6F2

body
	padding: 0px;
	margin: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;


a 
	color: #00B7FF;

header
	padding 0px
	margin 0px
	display block
	height 10%
	width 100%
	background-color paleblue
	position absolute
	
header h1
	margin-top 0.5%
	margin-left 2%

