//colour scheme
paleblue=#7AE6F2
light-grey = #C9C6C6

body
	padding-top: 1px;
	margin-top: -1px;
	margin-left 0
	margin-right 0
	font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
	overflow-y: hidden;
	overflow-x: hidden;
	z-index: -20;
	background-color:white;
	overflow auto

a 
	color: #00B7FF;
	

#header
	padding 0px
	margin 0px
	display block
	height 60px
	width 100%
	position fixed
	border-bottom 1px solid light-grey
	z-index 99
	
#header:before
	content: ""
	padding 0px
	margin 0px
	display block
	height inherit
	width 100%
	position fixed
	background-image url('/images/pineapplebg.jpg')
	background-size 100% 800px
	-webkit-filter opacity(80%)
	

#header h1
	position fixed
	display block
	border-radius 10px
	background-color white
	width 130px
	height 50px
	margin-top 5px
	left 50px

#banner
	position fixed
	top 5px
	left 250px
	padding 0
	text-align left
	width 70%

#banner ul
	position relative
	padding 0
	margin 0
	list-style-type none

#banner ul li
	font-weight bold
	font-size 20px
	width 100px
	padding 0
	margin 0
	line-height 10px
	color white
	display inline-block
	background-color none
	transition all 0.5s ease
// unifinder tab
#banner ul ul li a, visited
	font-weight bold
	font-size 13px
	line-height 40px
	color black
	text-decoration none

#banner ul li:hover
	color yellow
	cursor default 

#banner ul li:hover ul
	display block
	
#banner ul ul
	display none
	position absolute

#banner ul ul li
	text-decoration none
	background-color white
	border 1px solid light-grey
	margin 0
	display block

#banner ul ul li:hover
	background-color yellow

reqbtn a
	position absolute
	right 0px
	top 0px
	list-style-type none
	display inline-block
	width 150px
	text-decoration none
	border-radius 5px
	border 1px solid black
	background #FFE21C
	margin-top 0px
	margin-left 0px
	transition all 0.7s ease

reqbtn t2
	font-weight normal
	font-size 20px
	text-decoration none
	color black
	line-height 50px
	transition all 0.3s ease

reqbtn a:hover
	background-color #D0BC0F

main
	width 100%
	height 1000px
	margin-top 85px
	position absolute
	font-size 100px
	z-index 100
	
//request page only
#mainform
	margin auto
	margin-top 100px
	width 1000px
	height 800px
//unifinder page only
#uni
	position relative
	width 70%	
	margin-left 15%
	margin-top 80px
	line-height 30px	

#uni t
	position relative
	font-size 40px
	font-weight bold
	color #494938
#uni t2
	position relative
	font-size 20px
	font-weight bold
	color #494938
#uni t3
	display block
	position relative
	overflow hidden
	height 20px
	width 0px
	top 35px
	font-size 12px		
	color #494938	
	
#uni ul li
	list-style-type none	
	overflow hidden
	position relative
	background-color white
#nodejst
	display block
	position relative
	overflow hidden
	height 20px
	width 0px
	top -40px
	font-size 12px		
	color #494938
	transition all 0.5s linear	
#expresst
	display block
	position relative
	overflow hidden
	height 20px
	width 0px
	top 35px
	font-size 12px		
	color #494938
#javascriptt
	display block
	position relative
	overflow hidden
	height 20px
	width 0px
	top 35px
	font-size 12px		
	color #494938	
#javat	
	display block
	position relative
	overflow hidden
	height 20px
	width 0px
	top 35px
	font-size 12px		
	color #494938	
#htmlt
	display block
	position relative
	overflow hidden
	height 20px
	width 0px
	top 35px
	font-size 12px		
	color #494938	
#mongodbt
	display block
	position relative
	overflow hidden
	height 20px
	width 0px
	top 35px
	font-size 12px		
	color #494938	
	
	

	

	
