//colour scheme
paleblue=#7AE6F2
light-grey = #C9C6C6

body
	padding-top: 1px;
	margin-top: -1px;
	margin-left 0
	margin-right 0
	font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
	overflow-y: hidden;
	overflow-x: hidden;
	z-index: -20;
	background-color:white;
	overflow auto

a 
	color: #00B7FF;
	

#header
	padding 0px
	margin 0px
	display block
	height 700px
	width 100%
	position fixed
	border-bottom 1px solid light-grey
	z-index 99
	
#header:before
	content: ""
	padding 0px
	margin 0px
	display block
	height inherit
	width 100%
	position fixed
	background-image url('/images/pineapplebg.jpg')
	background-size 100% 800px
	-webkit-filter opacity(87%)
	z-index -90
	

#h1
	position fixed
	display block
	border-radius 10px
	background-color white
	width 130px
	height 50px
	margin-top 5px
	left 50px
	opacity 0

#banner
	position fixed
	top 5px
	left 250px
	padding 0
	text-align left
	width 70%

#banner ul
	position relative
	padding 0
	margin 0
	list-style-type none

#banner ul li
	font-weight bold
	font-size 20px
	width 100px
	padding 0
	margin 0
	line-height 10px
	color white
	display inline-block
	background-color none
	transition all 0.5s ease
	z-index 100
// unifinder tab
#banner ul ul li a, visited
	font-weight bold
	font-size 13px
	line-height 40px
	color black
	text-decoration none

#banner ul li:hover
	color yellow
	cursor default 

#banner ul li:hover ul
	display block
	
#banner ul ul
	display none
	position absolute

#banner ul ul li
	text-decoration none
	background-color white
	border 1px solid light-grey
	margin 0
	display block

#banner ul ul li:hover
	background-color yellow

#bigLogo
	display block
	position absolute
	width 600px
	height 300px
	border-radius 30px
	background-color white
	position relative
	z-index 100
	opacity 1
	top 200px
	
#bigLogo pptitle2
	position relative
	top 30px

reqbtn a
	position absolute
	right 0px
	top 0px
	list-style-type none
	display inline-block
	width 150px
	text-decoration none
	border-radius 5px
	border 1px solid black
	background #FFE21C
	margin-top 0px
	margin-left 0px
	transition all 0.7s ease

reqbtn t2
	font-weight normal
	font-size 20px
	text-decoration none
	color black
	line-height 50px
	transition all 0.3s ease

reqbtn a:hover
	background-color #D0BC0F

main
	width 100%
	height 1000px
	margin-top 85px
	position absolute
	font-size 100px
	z-index 100


#about
	position relative
	width 1100px
	height 700px
	margin auto
	margin-top 500px

#about:before
	content ""
	display block
	background-color #ECECEC
	-webkit-filter opacity(60%)
	position relative
	width 1100px
	height 750px
	margin auto
	margin-top 500px
	

#about t3
	position absolute
	top 0
	right 220px
	font-size 40px
	font-weight bold
	color #494938

#about pp 
	color #FFE21C
	transition all 0.2s ease-out
	
#about pplogo
	position relative
	opacity 0
	left 114px
	transition all 0.2s ease-out
	

#about pp:hover pplogo
	opacity 1
	bottom 40px

.boxText
	display block
	position relative
	font-size 30px
	font-family 'Arial'
	font-weight bold
	top -580px
	width 20%
	height 50px
	margin auto
	border-radius 15px
	line-height 50px
	transition background-color 0.3s linear
	z-index 10000


.boxText:hover
	background-color yellow
	cursor pointer
	
#box1
	display none
	position absolute
	right 270px
	top 150px
	width 500px
	height 160px
	line-height 30px
	text-align justify
	background-color #F7F3C8
	box-shadow 0 0 10px #888888
	padding 30px

#box2Text
	margin-top 250px

#box2
	display none
	position absolute
	right 270px
	top 450px
	width 500px
	height 200px
	padding 30px
	line-height 30px
	text-align justify
	background-color #F7F3C8
	box-shadow 0 0 10px #888888
	//boxes 3 and 4 not in use for uni page
#box3
	display block
	position absolute
	left 25%
	top 1000px
	width 500px
	height 150px
	background-color #F7F3C8
	box-shadow 0 0 10px #888888
	padding 30px


#box4
	display block
	position absolute
	top 1300px
	left 25%
	width 500px
	height 280px
	padding 30px
	background-color #F7F3C8
	box-shadow 0 0 10px #888888
	

	//circles with members of pineapple programs
#members
	position relative
	width 100%
	background-color #FFE21C
	height 500px
	margin auto
	margin-top 150px

#members t4
	position relative
	top 50px
	font-size 40px
	font-weight bold
	color black
	
#members ul li
	list-style-type none
	display inline-block
	margin-left 25px
	margin-right 25px
	overflow hidden
	position relative
	top 100px
	width 250px
	height 250px
	oveflow hidden
	background-color white
	border-radius 50%
	transition all 0.2s linear
	
#members ul li a
	text-decoration none
	position relative
	display block
	color black
	width 250px
	height 250px
	border-radius 50%
	transition all 0.3s linear
	z-index 1000

#members ul li t5
	font-weight bold
	font-size 20px
	position relative
	top 110px
	transition top 0.3s linear

#members ul li d1
	position relative
	opacity 0
	transition opacity 0.3s linear
	transition top 0.3s linear

#members ul li:hover
	background-color #9CCBCF

#members ul li:hover a
	color white

#members ul li:hover t5
	top 80px

#members ul li:hover d1
	top 40px
	opacity 1

#requests
	position relative
	width 900px
	margin auto
	margin-top 100px
	height 700px
	overflow hidden

#reqTitle
	position relative
	top -5px
	font-size 40px
	font-weight bold
	
#reqDesc t7
	line-height 40px

#circleText
	display block
	position relative
	width 300px
	height 50px
	top 20px
	line-height 50px
	border-radius 10px
	background-color #FFE21C
	border 1px solid black
	font-size 20px
	z-index 1000000

#circleText:hover
	background-color #9CCBCF
	cursor pointer 

#requests ul li 
	display block
	width 100px
	height 100px
	border-radius 50%
	border 1px solid black
	background-color #9CCBCF
	display inline-block
	position relative

#requests ul li a
	text-decoration none
	display block
	color white
	width 100px
	height 100px
	line-height 100px
	border-radius 50%
	transition all 0.3s linear
	
#requests ul li.circle1
	position relative
	left -135px 
	top 510px
	opacity 0

#requests ul li.circle2
	position relative
	top 510px
	opacity 0
	left 253px

#requests ul li.circle3 
	position relative
	left 635px 
	top 510px
	opacity 0
	
		
#Rbox5
	display block
	position absolute
	top 270px
	left 170px
	width 500px
	height 220px
	padding 30px
	line-height 30px
	text-align justify
	background-color #F7F3C8
	box-shadow 0 0 10px #888888	

#Rbox5 t8
	line-height 20px
	font-size 15px
	

#Rbox5Text:hover
	background-color purple
	cursor pointer

	
	
//request page only
#mainform
	margin auto
	margin-top 100px
	width 1000px
	height 800px

	
	

	

	

