//colour scheme
paleblue=#7AE6F2
light-grey = #C9C6C6

body
	padding-top: 1px;
	margin-top: -1px;
	margin-left 0
	margin-right 0
	font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
	overflow-y: hidden;
	overflow-x: hidden;
	z-index: -20;
	background-color:white;
	overflow auto

a 
	color: #00B7FF;
	

#header
	padding 0px
	margin 0px
	display block
	height 35em
	width 100%
	position fixed
	border-bottom 0.05em solid light-grey
	z-index 99
	
#header:before
	content: ""
	padding 0em
	margin 0em
	display block
	height inherit
	width 100%
	position fixed
	background-image url('/images/pineapplebg.jpg')
	background-size 100% 40em
	-webkit-filter opacity(87%)
	z-index -90
	

#h1
	position fixed
	display block
	border-radius 0.5em
	background-color white
	width 6.5em
	height 2.5em
	margin-top 0.25em
	left 2.5em
	opacity 0

#banner
	position fixed
	top 0.25em
	left 12.5em
	padding 0
	text-align left
	width 70%

#banner ul
	position relative
	padding 0
	margin 0
	list-style-type none

#banner ul li
	font-weight bold
	font-size 1em
	width 5em
	padding 0
	margin 0
	line-height 0.5em
	color white
	display inline-block
	background-color none
	transition all 0.5s ease
	z-index 100
// unifinder tab
#banner ul ul li a, visited
	font-weight bold
	font-size 0.65em
	line-height 2em
	color black
	text-decoration none

#banner ul li:hover
	color yellow
	cursor default 

#banner ul li:hover ul
	display block
	
#banner ul ul
	display none
	position absolute

#banner ul ul li
	text-decoration none
	background-color white
	border 0.05em solid light-grey
	margin 0
	display block

#banner ul ul li:hover
	background-color yellow

#bigLogo
	display block
	position absolute
	width 30em
	height 15em
	border-radius 1.5em
	background-color white
	position relative
	z-index 100
	opacity 1
	top 10em
	
#bigLogo pptitle2
	position relative
	top 1.5em

reqbtn a
	position absolute
	right 0px
	top 0px
	list-style-type none
	display inline-block
	width 5.5em
	text-decoration none
	border-radius 0.25em
	border 0.05em solid black
	background #FFE21C
	margin-top 0px
	margin-left 0px
	transition all 0.7s ease

reqbtn t2
	font-weight normal
	font-size 1em
	text-decoration none
	color black
	line-height 2.5em
	transition all 0.3s ease

reqbtn a:hover
	background-color #D0BC0F

main
	width 100%
	height 50em
	margin-top 4.25
	position absolute
	font-size 5em
	z-index 100


#about
	position relative
	width 55em
	height 40em
	margin auto
	margin-top 25em

#about:before
	content ""
	display block
	background-color #ECECEC
	-webkit-filter opacity(60%)
	position relative
	width 55em
	height 50em
	margin auto
	margin-top 25em
	

#about t3
	position absolute
	top 0.5em
	right 6em
	font-size 2em
	font-weight bold
	color #494938

#about pp 
	color #FFE21C
	transition all 0.2s ease-out
	
#about pplogo
	position absolute
	opacity 0
	left 5.7em
	transition all 0.2s ease-out
#about pplogo a img
	position relative
	width 1em
	

#about pp:hover pplogo
	opacity 1
	bottom 1em
	
#objective
	position relative
	top -40em
#objective img
	position relative
	height 8em

#capabilities
	position relative
	top -40em
#capabilities img
	position relative
	height 8em
	
.boxText
	display block
	position relative
	font-size 1.5em
	font-family 'Arial'
	font-weight bold
	top -28em
	width 25%
	height 2.5em
	margin auto
	background-color #FFE21C
	border 0.05em solid black
	border-radius 0.75em
	line-height 2.5em
	z-index 10000


.boxText:hover
	background-color #9CCBCF
	cursor pointer 

#box1
	display none
	position absolute
	right 13.5em
	top 8.3em
	width 25em
	height 8em
	line-height 1.5em
	text-align justify
	background-color #F7F3C8
	box-shadow 0 0 0.5em #888888
	padding 1.5em

#box2Text
	margin-top 5em

#box2
	display none
	position absolute
	right 13.5em
	top 27.5em
	width 25em
	height 10em
	padding 1.5em
	line-height 1.5em
	text-align justify
	background-color #F7F3C8
	box-shadow 0 0 0.5em #888888
	//boxes 3 and 4 not in use for uni page
#box3
	display block
	position absolute
	left 25%
	top 50em
	width 25em
	height 7.5em
	background-color #F7F3C8
	box-shadow 0 0 0.5em #888888
	padding 1.5em


#box4
	display block
	position absolute
	top 65em
	left 25%
	width 25em
	height 14em
	padding 1.5em
	background-color #F7F3C8
	box-shadow 0 0 0.5em #888888
	

	//circles with members of pineapple programs
#members
	position relative
	width 100%
	background-color #FFE21C
	height 25em
	margin auto
	margin-top 7.5em

#members t4
	position relative
	top 2.5em
	font-size 2em
	font-weight bold
	color black
	
#members ul li
	list-style-type none
	display inline-block
	margin-left 1.25em
	margin-right 1.25em
	overflow hidden
	position relative
	top 5em
	width 12.5em
	height 12.5em
	oveflow hidden
	background-color white
	border-radius 50%
	transition all 0.2s linear
	
#members ul li a
	text-decoration none
	position relative
	display block
	color black
	width 12.5em
	height 12.5em
	border-radius 50%
	transition all 0.3s linear
	z-index 1000

#members ul li t5
	font-weight bold
	font-size 1em
	position relative
	top 5.5em
	transition top 0.3s linear

#members ul li d1
	position relative
	opacity 0
	transition opacity 0.3s linear
	transition top 0.3s linear

#members ul li:hover
	background-color #9CCBCF

#members ul li:hover a
	color white

#members ul li:hover t5
	top 4em

#members ul li:hover d1
	top 2em
	opacity 1

#requests
	position relative
	width 45em
	margin auto
	margin-top 5em
	height 35em
	overflow hidden

#reqTitle
	position relative
	top -0.25em
	font-size 2em
	font-weight bold
	
#reqDesc t7
	line-height 2em

#circleText
	display block
	position relative
	width 15em
	height 2.5em
	top 1em
	line-height 2.5em
	border-radius 0.5em
	background-color #FFE21C
	border 0.05em solid black
	font-size 1em
	z-index 1000000

#circleText:hover
	background-color #9CCBCF
	cursor pointer 

#requests ul li 
	display block
	width 5em
	height 5em
	border-radius 50%
	border 0.05em solid black
	background-color #9CCBCF
	display inline-block
	position relative

#requests ul li a
	text-decoration none
	display block
	color white
	width 5em
	height 5em
	line-height 5em
	border-radius 50%
	transition all 0.3s linear
	
#requests ul li.circle1
	position relative
	left 6.75em
	top 25.5em
	opacity 0

#requests ul li.circle2
	position relative
	top 25.5em
	opacity 0
	left 12.65em

#requests ul li.circle3 
	position relative
	left 31.75em
	top 25.5em
	opacity 0
	
#requests ul li.circle1:hover a{
  color: black;
  background-color: #ffe21c;
  transition: all 0.1s linear;
} 
#requests ul li.circle2:hover a{
  color: black;
  background-color: #ffe21c;
  transition: all 0.1s linear;
}
#requests ul li.circle3:hover a{
  color: black;
  background-color: #ffe21c;
  transition: all 0.1s linear;
}
	
		
#Rbox5
	display block
	position absolute
	top 13.5em
	left 8.5em
	width 25em
	height 11em
	padding 1.5em
	line-height 1.5em
	text-align justify
	background-color #F7F3C8
	box-shadow 0 0 0.5em #888888	

#Rbox5 t8
	line-height 1em
	font-size 0.75em

	
	
//request page only
#mainform
	margin auto
	margin-top 5em
	width 50em
	height 40em

	
	

	

	

